/* brief styling */
.brief {
    margin: 50px 120px;
    padding: 70px;
    display: flex;
    gap: 80px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 25px;
    border: solid black 2px;
    border-radius: 10px;
}

.brief #one, .brief #two {
    flex: 1;
}

.brief #one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brief h2 {
    font-size: 1.3em;
}

.brief div {
    padding: 30px 100px 30px 0 ;
    border-bottom: solid rgb(162, 162, 162) 2px;
}


/* process styling */

#process {
    font-family: 'Funnel Sans', serif;
    margin: 70px;
}

#process figure {
    width: 80vw;
    height: auto;
    margin: auto;
}

#process img {
    max-width: 100%;
    border: solid black 2px;
}

#process span {
    color: rgb(73, 120, 215);
}
#process p {
    line-height: 25px;
    width: 80vw;
    margin: auto;
    padding-top: 30px;
}
#process h1{
    text-align: center;
}

