/* resets */

h1, h2, h3, p, nav ul {
    margin: 0;
   
    padding: 0;
}


li {
    list-style: none;
}

/* main styling */


body, article, .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    padding: 30px 0;
    text-align: center;
}

h1, h2 {
    font-weight: 600;
}


.title {
    background-size: cover;
    background-color: rgba(15, 25, 52, 0.85);
    background-blend-mode: multiply;

    display: block;
    padding: 20px;
    color: white;
}

figure {
    margin: 10px 0 0 0;

}
#one .title {
    background-image: url(images/amazoncheckout.png);
}

#two .title {
    background-image: url(images/modal.webp);
    background-position: center;
}

#three .title {
    background-image: url(images/visthinking.jpg);
    background-position: center;
}

#four .title {
    background-image: url(images/stinkytofu.png);
    background-position: center;
}

time {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Prompt', sans-serif;
}
.content {
    padding: 20px;
}

p {
    line-height: 1.1em;
    max-width: 85%;
    text-indent: 30px;
}

article {
    flex: 1;
}

@media screen and (min-width:600px) {

    body {
    }

    article{
        flex-direction: row;
        max-width: 90%;
        /* margin:auto; */
        }

    .title time {
        writing-mode: vertical-rl;
        /* text-orientation: sideways-right ; */
        transform: rotate(180deg);
    }

    .title {
        flex:1;
    }
    .content {
        flex:1;
    }

    
}